@mixin transition {
  transition: all $transitionDuration ease;
}

@mixin zoom-move {
  animation: zoom-move 80s linear infinite;

  @keyframes zoom-move {
    0% {
      transform: scale(1) translateX(0) translateY(0);
    }
    50% {
      transform: scale(1.2) translateX(2%) translateY(2%);
    }
    to {
      transform: scale(1) translateX(0) translateY(0);
    }
  }
}

@mixin jump {
  animation: MoveUpDown 1s linear infinite;
  @keyframes MoveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}
