.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px;
  align-self: end;
  height: 100%;
  justify-content: space-between;
  flex-grow: 1;

  @include desktop {
    padding-top: 50px;
    gap: 20px;
  }

  @include tablet_small {
    gap: 10px;
  }

  @include mobile {
    padding: 14px 14px 100px 14px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 44px;

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      gap: 16px;
    }
  }

  &__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      text-transform: uppercase;
      margin-bottom: 24px;

      @include desktop {
        font-size: 20px;
      }

      @include tablet_small {
        margin-bottom: 12px;
      }
    }
  }

  &__links {
    display: flex;
    gap: 12px;

    @include tablet_small {
      flex-direction: column;
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 288px;
      min-height: 100px;

      @include tablet {
        min-height: unset;
        max-width: unset;
      }

      @include tablet {
        flex-direction: row;

        align-items: center;
      }

      img {
        width: 48px;

        @include mobile {
          width: 28px;
        }
      }

      .link {
        font-size: 16px;
      }

      span {
        font-size: 16px;
      }
    }
  }

  &__bottom {
    border-top: solid 1px $gray60;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include desktop_extra-small {
      flex-direction: column;
      gap: 24px;
      padding-top: 24px;
    }

    @include mobile {
      gap: 12px;
    }

    span {
      text-transform: uppercase;
    }

    .link {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}
