.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  &_filled {
    background-color: $darkblue;

    .header__wrapper {
      background-color: $darkblue;
    }

    .header__button {
      background-color: $darkblue;

      &:hover {
        background-color: $white;
      }
    }
  }

  &_inverse {
    color: $blue;

    .header__phone {
      color: $darkblue;
    }
  }

  &__wrapper {
    width: 100%;
    padding: 24px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include mobile {
      width: unset;
      padding: 13px 15px;
    }
  }

  &__column {
    display: flex;
    gap: 24px;
    align-items: center;

    &:first-of-type {
      gap: 60px;
    }
  }

  &__burger {
    cursor: pointer;
    @include transition;

    &:hover {
      scale: 1.1;
    }
  }

  &__discount {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    @include transition;

    &:hover {
      opacity: 0.8;
    }

    @include tablet_small {
      display: none;
    }

    span {
      @include InterMedium;
      text-transform: uppercase;
      display: block;
      max-width: 135px;
    }
  }

  &__logo {
    z-index: 1;
    cursor: pointer;
    height: 100%;

    @include mobile {
      z-index: 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 54px;

      @include tablet_small {
        max-height: 27px;
      }
    }
  }

  &__phone-icon {
    z-index: 2;
    @include min_tablet_small {
      display: none;
    }
  }

  &__phone {
    @include tablet_small {
      display: none;
    }
  }

  &__button {
    @include desktop_small {
      display: none;
    }
  }
}
