.layouts {
  background-color: $white;
  height: 100vh;
  touch-action: none;
  color: $darkblue;

  .container {
    height: 100%;
    display: grid;
    gap: 20px;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 50px;

    @include tablet_small {
      display: flex;
      padding-top: 72px;
      gap: 10px;
      justify-content: space-between;
    }

    @include mobile {
      padding-top: 72px;
      padding-bottom: 100px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include desktop {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__description {
    width: 60%;
    padding-left: 40px;

    @include desktop {
      display: none;
    }

    p {
      @include HeliosRegular;
      font-size: 20px;
      max-width: 760px;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 16px;
      }
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__subtitle {
    font-size: 14px;
    color: $gray30;
  }

  &__filter-list {
    display: flex;
    gap: 24px;

    @include tablet_small {
      flex-wrap: wrap;
      gap: 12px;
    }

    @include mobile {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
    }

    .button {
      width: 100%;
      text-align: center;

      &.active {
        background-color: $darkblue;
        color: $white;
        border-color: $darkblue;
      }

      @include tablet_small {
        width: unset;
        min-width: 91px;
      }

      @include mobile {
        min-width: unset;
        width: 100%;
      }
    }
  }

  &__content {
    overflow: hidden;
    display: none;

    @include tablet_small {
      flex-direction: column;
    }

    &.active {
      display: flex;
      gap: 24px;

      @include tablet_small {
        gap: 0;
      }
    }
  }

  &__column {
    width: 50%;
    max-width: 870px;
    position: relative;

    @include tablet {
      width: unset;
      max-width: unset;
    }

    &:first-child {
      width: 55%;

      @include tablet {
        border-right: none;
        width: unset;
      }

      @include tablet {
        flex-grow: 1;
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img:not(.layouts__zoom) {
      width: 100%;
      height: 100%;
      object-fit: contain;

      @include tablet_small {
        max-height: 24vh;
      }
    }
  }

  &__zoom {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
    @include transition;

    &:hover {
      scale: 1.05;
    }

    @include mobile {
      margin: unset;
      right: 8px;
      bottom: 8px;
      top: unset;
      left: unset;
      width: 32px;
      height: 32px;
    }
  }

  &__views {
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include mobile {
      display: none;
      position: unset;
      flex-direction: row;
      align-items: center;
      padding: 24px 10px;
    }

    .button {
      width: 94px;
      text-align: center;

      &.active {
        background-color: $white;
        color: $darkblue;
        border-color: $darkblue;
      }
    }
  }

  &__text {
    border-bottom: solid 1px #23232366;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include desktop {
      padding: 24px;
    }

    @include mobile {
      padding: 10px;
      gap: 12px;
    }

    p {
      font-size: 18px;
      max-width: 619px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;

      @include desktop {
        -webkit-line-clamp: 3;
      }

      @include tablet {
        display: none;
      }
    }
  }

  &__info {
    display: flex;
    gap: 42px;

    @include desktop {
      gap: 24px;
    }

    @include mobile {
      gap: 12px;
    }
  }

  &__info-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mobile {
      gap: 4px;
    }
  }

  &__buttons {
    display: flex;
    gap: 24px;
    padding: 24px;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      padding: 24px;
    }

    @include tablet {
      gap: 12px;
    }

    @include mobile {
      padding: 10px;
      gap: 8px;
    }

    div {
      display: flex;
      gap: 24px;

      @include tablet {
        width: 100%;
      }
    }
  }
}
