.page {
  width: 100vw;
  height: 100vh;

  &__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;

    &_zoom {
      @include zoom-move;
    }

    &_temporary {
      z-index: 3;
      transition: all 2s ease;
      opacity: 0;
      transition: opacity 2s;

      @include tablet {
        display: none;
      }

      &.show {
        opacity: 1;
      }

      &.hide {
        display: none;
      }
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute !important;
  }
}
