.towers {
  @include desktop_base {
    overflow-x: scroll;
    touch-action: pan-x;
  }

  &__background {
    position: relative;
    background-image: url('/images/towers.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-width: 1200px;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 0;
    padding-bottom: 100px;
    width: fit-content;
    height: fit-content;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;

    @include tablet {
      padding-bottom: 40px;
    }
    @include mobile {
      padding-bottom: 120px;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0.59) 100%
    );

    @include tablet {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.59) 100%
      );
    }

    path {
      fill: $darkblue;
      opacity: 0;
      @include transition;
      cursor: pointer;

      &.active {
        cursor: default;
        @include transition;
        opacity: 0.5;
      }
    }

    path.point {
      opacity: 0.8;

      &:hover {
        @include jump;
      }

      &.active {
        opacity: 1;
        @include jump;
      }
    }
  }

  &__point {
    position: absolute;
    z-index: 3;
    background-image: url('/images/point_blue.svg');
    width: 5%;
    height: 6%;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;

    &.active {
      opacity: 1;
    }
  }

  &__item {
    position: absolute;
    z-index: 3;
    top: 140px;
    left: 70px;
    padding: 32px;
    border: solid 1px $blue;
    max-width: 25%;
    color: $blue;
    display: flex;
    flex-direction: column;
    gap: 24px;
    opacity: 0;
    @include transition;

    @include desktop_large {
      padding: 0;
      top: unset;
      bottom: 40px;
      border: none;
      color: $white;
      max-width: 500px;
      gap: 12px;
    }

    @include tablet {
      left: 30px;
      bottom: 30px;
    }

    @include mobile {
      left: 15px;
      bottom: 120px;
    }

    &.active {
      opacity: 1;
    }

    p {
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;

      @include tablet {
        font-size: 16px;
      }
    }
  }

  &__info {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    max-width: 220px;
    row-gap: 24px;

    @include desktop_large {
      max-width: unset;
    }

    @include desktop {
      gap: 24px;
    }

    @include mobile {
      gap: 12px;
    }
  }

  &__info-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mobile {
      gap: 4px;
    }

    span:first-child {
      opacity: 0.4;
      @include desktop_large {
        opacity: 0.8;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include transition;

    @include desktop_large {
      display: none;
      opacity: 0;
    }

    @include tablet {
      gap: 12px;
    }

    &.active {
      display: flex;
      opacity: 1;
    }

    p {
      text-transform: uppercase;
      font-size: 20px;
      max-width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;

      @include tablet {
        font-size: 16px;
      }
    }
  }
}
